@import 'variables.css';

*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    margin:0px;
    padding:0px;
    /* font-family: ProximaNova,Arial,Helvetica Neue,sans-serif; */
    font-family: Montserrat, Arial, Helvetica Neue, sans-serif;
}

header#main{
    /* height: 540px; */
    height: 54rem;
    position: relative;
    padding: 0px 2rem;
}

header#main section{
    min-width: var(--min-in-con-width);
    max-width: var(--max-in-con-width);
    margin: 0px auto;
}

header#main>section>div{
    width: 62rem;
    height: 50rem;
    display: inline-block;
    margin-right: 6rem;
    margin-top: 5rem;
}

header#swiggy{
    height: 8rem;
    line-height: 8rem;
    margin-bottom: 5rem;
}

#swiggy img{
    height: 6rem;
    width: 18rem;
    display: inline-block;
    margin-top: 0.5rem;
}

#swiggy div{
    display: inline-block;
    float: right;
    height: 8rem;
    line-height: 8rem;
}

#swiggy div a{
    text-decoration: none;
    color: black;
    padding: 1rem 2.5rem;
    font-size: 1.6rem;
    font-weight: 600;
}
#swiggy div a:first-child:hover{
    color: var(--default-orange-color);
}

#swiggy div a:nth-child(2) {
    background-color: black;
    color: white;
    font-weight: bold;
}

header#main div:first-child h1#hungry{
    font-size: 4rem;
    margin-bottom: 1rem;
    position: relative;
    animation: moveUp 2s ease-out;
    animation-iteration-count: infinite;
}

@keyframes moveUp{
    0%{
        opacity:0;
        top: 1rem;
    }
    10%{
        opacity: 0.5;
        top: .5rem;
    }
    20%{
        opacity: 1;
        top: 0rem;
    }

}

header#main section div:first-child h3#hungry-text{
    font-size: 2.4rem;
    margin: 0px;
    font-weight: 300;
    color: #686b78;
    margin-bottom: 4rem;
}

div#form {
    position: relative;
}

div#form input{
    height: 5.8rem;
    width: 60rem;
    padding-left: 1.5rem;
    font-size: 1.8rem;
    caret-color: var(--default-orange-color);
    border: 1px solid #bebfc5;
}

div#form input:focus{
    border-color:var(--default-orange-color);
    outline: none;
}

div#form>span:nth-child(2){
    position: absolute;
    top: 25%;
    left: 60%;
    padding: 0.5rem 1rem;
}
div#form>span:nth-child(2):hover{
    background: #e9e9eb;
    cursor: pointer;
}

div#form>span:nth-child(2) img{
    width: 1.2rem;
    height: 1.2rem;
}

div#form>span:nth-child(2) span{
    color: #535665;
    font-size: 1.4rem;
    padding-left: 0.5rem;
    font-weight: 500;
}

div#form span:nth-child(3){
    font-size: 1.6rem;
    font-weight: 700;
    color: white;
    background-color: var(--default-orange-color);
    padding: 2.05rem;
    position: absolute;
    top: -0.08rem;
    right: 0;
    cursor: pointer;
}

div#places{
    margin-top: 6rem;
    width: 50rem;
}
div#places a{
    font-weight: 500;
    font-size: 1.3rem;
    margin-right: 8px;
    color: #93959f;
    line-height: 1.5;
    letter-spacing: -.3px;
    text-decoration: none;
}
div#places a:nth-child(even){
    text-decoration: none;
    font-weight: 500;
    font-size: 1.3rem;
    margin-right: 0.8rem;
    line-height: 1.5;
    letter-spacing: -.3px;
    color: #a9abb2;
}

header div#food-img{
    height: 54rem;
    background: transparent url("../photos/Lunch3-new_mkqxdb.jpg") no-repeat 100%;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    left: calc(50% + 80px);
    min-width: 55rem;
}

@media (max-width:1250px){
    header div#food-img{
        left: 70rem;
        width: 54rem; 
    }
}

/* header div#food-img img{
    
    width: 750px;
    height: 540px;
} */

        /*section three-images */

section#three-images{
    background: #2b1e16;
    height: 40.2rem;
    padding: 0px 2rem;
    min-width: var(--min-out-con-width);
    
}

section#three-images section{
    max-width: var(--max-in-con-width);
    min-width: var(--min-in-con-width);
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    height: 32.2rem;
    padding-bottom: 8rem;
}

section#three-images section div.image-section{
    width: 26rem;
    height: 32.2rem;
}

section#three-images section div.image-section div.image{
    width: 26rem;
    height: 25rem;
    text-align: center;
}

section#three-images section div.image-section:nth-child(1) div.image img{
    width: 10.5rem;
    height: 19.9rem;
}

section#three-images section div.image-section:nth-child(2) div.image img{
    width: 11.2rem;
    height: 20.6rem;
}

section#three-images section div.image-section:nth-child(3) div.image img{
    width: 12.4rem;
    height: 18.8rem;
}

section#three-images section div.image-section div.heading{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: white;
}

section#three-images section div.image-section div.heading-text{
    font-size: 1.5rem;
    width: 26rem;
    text-align: center;
    color: white;
    margin-top: 1rem;
}


    /* section share */

section#share{
    height: 57rem;
    padding:0 2rem;
    min-width: var(--min-out-con-width);
    overflow: hidden;
}

section#share section{
    min-width: var(--min-in-con-width);
    max-width: var(--max-in-con-width);
    height: 57rem;
    position: relative;
    margin: 0px auto;

}

section#share section>div{
    display: inline-block;
    margin-top: 15rem;
}
section#share section div div#share-head{
    font-size: 4rem;
    font-weight: 600;
    width: 30rem;
}

section#share section div div#share-text{
    font-size: 2rem;
    width: 40rem;
    font-weight: 300;
    padding-top: 2rem;
    padding-bottom: 6rem;
    color: #7e808c;

}

section#share section div img#play, section#share section div img#ios{
    width: 18rem;
    height: 5.4rem;
    cursor: pointer;
}

section#share section div img#play{
    margin-right: 2rem;
}

section#share section img#pixel, section#share section img#iphone{
    width: 38.4rem;
    height: 48.9rem;
}

section#share section img#pixel{
    position: absolute;
    top: 0;
    right: 30rem;
}

section#share section img#iphone{
    position: absolute;
    bottom: 0;
    right: -4.5rem;

}

    /* section cities */

section#cities{
    height: 12.7rem;
    padding: 0 2rem;
    background: var(--default-orange-color);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: var(--min-out-con-width);
}

section#cities div{
    max-width: var(--max-in-con-width);
    min-width: var(--min-in-con-width);
    height: 6.3rem;
    margin: 0 auto;
    text-align: center;    

}

section#cities div a{
    font-size: 1.8rem;
    font-weight: 400;
    color: #fff;
    margin-right: 3.7rem;
    text-decoration: none;
    line-height: 1.2;
    width: max-content;
}


section#cities div a:after{
    content: "\2022";
    position: relative;
    top: 0px;
    left: 2rem;
    
}


section#cities div a:hover{
    font-weight: bold;
}

    /* footer */

footer{
    height: 41.1rem;
    background-color: black;
    padding: 0 2rem;
    min-width: var(--min-out-con-width);
}

footer section{
    max-width: var(--max-in-con-width);
    min-width: var(--min-in-con-width);
    margin: 0 auto;
    padding-top: 8rem;
    
}

footer section header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #4d4d4d;
}

footer section header>div{
    width: 30rem;
    height: 24.9rem;
}

footer section header div:last-child{
    width: 20rem;
}

footer section header div div{
    color: gray;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
}

footer section header div ul{
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 3rem;

}

footer section header div ul li{
    color: white;
    margin-top: 1.5rem;
    width: max-content;
    font-size: 1.7rem;
    
}
footer section header div ul li:hover{
    font-weight: bold;
    cursor: pointer;
}

footer section header div:last-child img{
    display: inline-block;
    width: 20rem;
    height: 6.5rem;
    margin-bottom: 3rem;
    cursor: pointer;
    transition: transform 0.75s;
} 

footer section header div:last-child img:hover{
    transform: scale(1.05);
}




footer section footer{
    margin: 2.9rem 0;
    padding: 0;
    color: white;
    font-weight: 300;
    min-width: var(--min-in-con-width);
    height: 2.7rem;
}

footer section footer a{
    display: inline-block;
    width: 14.2rem;
    height: 2.7rem;
}

footer section footer div:nth-child(2){
    display: inline-block;
    width: 86.6rem;
    height: 2.7rem;
    text-align: center;
    vertical-align: top;
    line-height: 2.7rem;
    font-size: 2rem;
}
footer section footer div:nth-child(3){
    display: inline-flex;
    justify-content: space-around;
    width: 18rem;
    height: 2.7rem;
    vertical-align: top;
}

footer section footer div:nth-child(3) img{
    width: 2.4rem;
    height: 2.4rem;
    transition: transform 0.2s;
}
footer section footer div:nth-child(3) img:hover{
    transform: scale(1.3);
    cursor: pointer;
}
